.noBlock {
	display: inline-block;
}

.weekday {
	width: 100px;
	text-align: left;
	/* position: relative;
    right: 70px; */
}

.dashSpace {
	width: 20px;
}

.spaceBetweenTime {
	margin-bottom: 15px;
}

.alignLeft {
	text-align: left;
}

.imageSize {
	height: 250px;
	width: 250px;
}

/*
todo: css for chart page
*/
.monthYearPicker {
	text-align: left;
}

.sameRow {
	display: inline-block;
}

.makeSpace {
	margin-left: 50px;
}

.hideChart {
	display: none;
}
