body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "SFProDisplay", "SFProText-RegualarItalic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
    url(@material-ui/core/styles/SFProDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SFProText-RegularItalic";
  src: local("SFProText-RegularItalic"),
    url(@material-ui/core/styles/SFProText-RegularItalic.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
